venv/
/.venv
**/.DS_Store
Sensing&Controls/AttitudeEstimation/Fouratis.exe
Sensing&Controls/AttitudeEstimation/Fouratis.ilk
Sensing&Controls/AttitudeEstimation/Fouratis.obj
Sensing&Controls/AttitudeEstimation/Fouratis.pdb
Sensing&Controls/AttitudeEstimation/vc140.pdb
Sensing&Controls/AttitudeEstimation/__pycache__/ExtendedKalmanFilter.cpython-312.pyc
Algorithms/DynamicsModel/monocopter_dynamics_model.asv
Sensing&Controls/AttitudeEstimation/__pycache__/ExtendedKalmanFilterAltitude.cpython-312.pyc
